<div class="login-header">
    <div class="back-button-container"> <button class="back-button" (click)="back()">Back</button> </div>
    <div class="title-container"> <p class="title">Login</p> </div>
</div>

<div class="login-form">
    <p class="field-name">Email:</p>
    <input #usernameField placeholder="Email address" type="text" [formControl]="userNameControl">
    
    <p class="field-name">Password:</p>
    <div class="password-hide">
        <input #passwordField placeholder="Password" type="text" [formControl]="passwordControl" [type]="hide ? 'password' : 'text'">
        <button type="button" class="hide-button" (click)="hide = !hide">{{ hide ? 'Hide' : 'Show' }}</button>
    </div>

    <button class="submit-button" (click)="login()">Submit login</button>
</div>

<app-footer></app-footer>