.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow:auto;
  background-color: deepskyblue;
  padding: 20px 10px;
  gap: 8px;
}

.main-logo {
  width: 200px;
  border-radius: 25%;
  align-self: center;
  flex-shrink: 1;
}

.inner-search {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .mat-paginator {
    align-self: flex-start;
    background-color:darkviolet;
  }
  
  #search {
    align-self: flex-end;
    font-size: 20px;
    height: 10px;
  }
}

.search-button {
  align-self: center;
  font-size: 20px;
  width: fit-content;
}

.user-profile-picture {
  width: 160px;
  align-self: center;
  flex-grow: 1;
}
